<%= form_for(@post) do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>

  <%= f.fields_for :category, @categories do |category|  %>
    <%= category%>
  <% end %>

  <%= f.submit %>

  <% end %>
