<%= form_for(@post) do |f| %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </p>

<%= collection_check_boxes(:post, :category_ids, :Category.all, :category_id, :category.name) %>
  <%= f.submit %>

  <% end %>
